.cusdefault-btn{
  background-color: #f5f5f5;
  padding: 4px 12px;
}
.cusbtn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  *background-color: #04c;
  background-image: none;
  background-repeat: repeat-x;
  border-color: #04c #04c #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  padding-top: 2px;
  padding-bottom: 2px;
}

.cusbtn-primary:hover{
  color: #fff;
  background-color: #04c;
}

.cus-checkbox{
  margin-top: 0 !important;
}
.d-flex{
  display: flex;
}

.m-l-10{
  margin-left: 10px !important;
}
.m-l-15{
  margin-left: 15px;
}
.m-t-10{
  margin-top: 10px;
}
.align-item-center{
  align-items: center;
}

html,
body {
  min-height: 100%;
}
.layout-boxed html,
.layout-boxed body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}
/* Layout */
.wrapper {
  min-height: 100%;
  position: static;
  overflow: hidden;
}
.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}
.layout-boxed .wrapper {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: relative;
}
.layout-boxed {
  background: url('../img/boxed-bg.jpg') repeat fixed;
}
/*
 * Content Wrapper - contains the main content
 * ```.right-side has been deprecated as of v2.0.0 in favor of .content-wrapper  ```
 */
.content-wrapper,
.right-side,
.main-footer {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  z-index: 820;
  width: 83%;
}
.layout-top-nav .content-wrapper,
.layout-top-nav .right-side,
.layout-top-nav .main-footer {
  margin-left: 0;
}
@media (max-width: 767px) {
  .content-wrapper,
  .right-side,
  .main-footer {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .right-side,
  .sidebar-collapse .main-footer {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .sidebar-open .content-wrapper,
  .sidebar-open .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0);
  }
}
.content-wrapper,
.right-side {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
}
.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}

/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Component: Main Header
 * ----------------------
 */
.main-header {
  position: relative;
  height: 30px;
  background-color: #31404E;
  z-index: 1030;
  margin-top: 40px;
}

.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 5px 15px;
  font-family: fontAwesome;
}
.main-header .sidebar-toggle:before {
  content: "\f0c9";
}
.main-header .sidebar-toggle:hover {
  color: #fff;
}
.main-header .sidebar-toggle:focus,
.main-header .sidebar-toggle:active {
  background: transparent;
}
.main-header .sidebar-toggle .icon-bar {
  display: none;
}


/* Content NavBar */
.content-header .navbar{
  background: white;
  margin-bottom: 0;
  min-height: unset;
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.content-header a:hover{
  color: #777 !important;
}

.content-header .navbar-brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  height: unset;
}

/* \Content NavBar */

/* Content Filter */
div.well{
  padding: 10px;
}

.filters.well{
  border-radius: 0;
}
.filters label {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 0px;
}
/* \Content Filter */

/*
 * Main Content
 * ------------------
 */
.main-content{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


/*
 * Component: Sidebar
 * ------------------
 */
.main-sidebar,
.left-side {
  min-height: 100%;
  width: 14.5%;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .main-sidebar,
  .left-side {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .main-sidebar,
  .left-side {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .left-side {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}
@media (max-width: 767px) {
  .sidebar-open .main-sidebar,
  .sidebar-open .left-side {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.sidebar {
  padding-bottom: 10px;
}
.sidebar-form input:focus {
  border-color: transparent;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border-bottom: 1px solid #ccc;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
}
.sidebar-menu > li > a {
  padding:9px 12px;
  display: block;
  border: 1px solid #ccc;
  color: #373a3c;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: helvetica neue,Helvetica,Arial,sans-serif;
}
.sidebar-menu > li > a:hover,
.sidebar-menu > li.active > a {
  border: 1px solid #5bb75b;
  color: #fff;
  background-color: #5bb75b;
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
}
.sidebar-menu >li:first-child >a {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
}


